This is a template file for the google server api key required to use
GoogleCloudMessaging (GCM).

To enable GCM copy this file, remove the .template and replace this text with a
valid server api key.

You can get a key by signing in the google developers console, creating a new
project and selecting APIs & auth --> Credentials --> Create new Key.
