gcmApiKey: GCM_API_KEY

couchDb:
  url: http://localhost:5984/
  dbPrefix: ods
  maxConnections: 100
  admin:
    username: ADMIN_USERNAME
    password: ADMIN_PASSWORD

server:
  applicationContextPath: /ods/api/v1

auth:
  users:
    - name: Admin
      email: admin@adminland.com
      role: ADMIN
      password: admin123
      type: basic
  googleOAuthWebClientId: GOOGLE_OAUTH_WEB_CLIENT_ID
  googleOAuthClientIds:
    - GOOGLE_OAUTH_CLIENT_IDS
