gcmApiKey: GCM_API_KEY

couchDb:
  url: http://localhost:5984/
  dbPrefix: ods
  admin:
    username: ADMIN_USERNAME
    password: ADMIN_PASSWORD

server:
  applicationContextPath: /ods/api/v1

admins:
  - username: admin
    password: admin
