gcmApiKey: GCM_API_KEY

couchDb:
  url: http://localhost:5984/
  dbPrefix: ods
  maxConnections: 100
  admin:
    username: ADMIN_USERNAME
    password: ADMIN_PASSWORD

server:
  applicationContextPath: /ods/api/v1

admins:
  - name: Admin
    email: admin@adminland.com
    role: ADMIN
    password: admin123
